body{
    background: RGB(113,211,140);
}
html{
    font-size: 100px;
}
.header{
    width: 100%;
    background:RGB(113,211,140);
    line-height: 50px;
    border:2px solid #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    text-align: center;
    color: #fff;
    font-size:20px;
    font-weight:bold;
}